@page "/about-us"
<!-- title -->
<div class="col-12">
    <div class="main__title">
        <h1>About Us</h1>

        <p>We are a dedicated team of music enthusiasts and professionals who are passionate about supporting and promoting artists in the electronic music industry. Our goal is to provide a platform for talented artists like Collin to showcase their music and connect with a global audience.
           
           Through our extensive network and industry expertise, we curate and promote a wide range of electronic music genres, including bigroom, progressive house, future house, and tropical house. We believe in the power of music to inspire, uplift, and unite people from all walks of life, and we strive to bring exceptional music to the forefront.</p>
    </div>
</div>
<!-- end title -->